<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.ndcnc.erp.staff.model.vo.Staff" alias="staff" />
		<typeAlias type="com.ndcnc.erp.staff.model.vo.SearchCondition" alias="searchCondition" />
		<typeAlias type="com.ndcnc.erp.login.model.vo.NaverLoginUser" alias="naverLoginUser" />
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mappers/staff-mapper.xml" />
		<mapper resource="/mappers/login-mapper.xml" />
	
	</mappers>

	

</configuration>