<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="loginMapper">

	<resultMap id="memberResultSet" type="member">
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_EMAIL" property="memEmail" />
		<result column="MEM_PW" property="memPw" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_MOBILE" property="memMobile" />
	</resultMap>

	<select id="selectCountByEmail" resultType="_int" parameterType="member">
		SELECT
		       count(*)
		  FROM
		       MEMBER
		 WHERE
		       MEM_EMAIL = #{memEmail}
		   AND		        
		       MEM_NAME = #{memName}
	</select>
	
	<insert id="insertNaverLogin" parameterType="member">
		INSERT
		  INTO
		       MEMBER
		       (
		       MEM_NO
			   ,MEM_EMAIL
			   ,MEM_NAME
			   ,MEM_MOBILE
		       )
		VALUES
		       (
		       MEM_SEQ.NEXTVAL
		  	   ,#{memEmail}
		  	   ,#{memName}
		       ,#{memMobile}
		       )
	</insert>
	
	<select id="selectMemByEmail" parameterType="member" resultMap="memberResultSet">
		SELECT
		       MEM_NO
			   ,MEM_EMAIL
			   ,MEM_PW
		       ,MEM_NAME
			   ,MEM_MOBILE
	      FROM
	           MEMBER 
		 WHERE
		       MEM_EMAIL = #{memEmail}
		   AND		        
		       MEM_NAME = #{memName}
	</select>
	
	<delete id="deleteMember" parameterType="_int">
		DELETE
		  FROM
		       MEMBER
		 WHERE
		       MEM_NO = #{memNo}
	</delete>
	

</mapper>





