<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="staffMapper">

	<resultMap id="staffResultSet" type="staff">
		<result column="STAFF_NO" property="staff_no" />
		<result column="STAFF_NAME" property="staff_name" />
		<result column="JUMIN_NO" property="jumin_no" />
		<result column="DEPARTMENT_NAME" property="department_name" />
		<result column="GRADUATE_DAY" property="graduate_day" />
	</resultMap>
	
	
	
	<!-- 사원 등록 - STAFF 테이블 -->
	<insert id="insertStaff" parameterType="staff">
		INSERT
		  INTO
		  	   STAFF
		       (
		        STAFF_NO
				,STAFF_NAME
				,JUMIN_NO
				,SCHOOL_CODE
				,DEPARTMENT_CODE
				,GRADUATE_DAY
		       )
	    VALUES
		       (
		       STAFF_SEQ.NEXTVAL
		       ,#{ staff_name }
		       ,#{ jumin_no }
		       ,(select school_code from code_school where school_name = #{ school_name })
		       ,(select department_code from code_department where department_name = #{ department_name })
		       ,#{ graduate_day }
		       )	
	</insert>
    
    <!-- 사원 등록 - STAFF-SKILL 테이블 -->
    <insert id="insertStaffSkill" parameterType="staff">
    	INSERT
    	  INTO
    	       STAFF_SKILL
		       (
		       STAFF_SKILL_NO
			   ,STAFF_NO
			   ,SKILL_CODE
		       )
			  SELECT
				       STAFF_SKILL_SEQ.NEXTVAL,
				       A.* 
				  FROM 
				       (
					    <foreach item="item" collection="skill_name" separator="UNION ALL " >
					        select 
					               (select max(staff_no) from staff)
					               ,(select skill_code from code_skill where skill_name = #{ item })
					          from 
					               dual
					    </foreach>
			   ) A
    </insert>
    
    <!-- 사원 전체 목록 개수 -->
    <select id="selectAllListCount" resultType="_int">
    	SELECT
    	       COUNT(*)
    	  FROM
    	       STAFF
    </select>

	<!-- 사원 전체 목록 조회 -->
	<select id="selectAllList" resultMap="staffResultSet">
		SELECT 
			   *
		  FROM 
		       VW_STAFF
		 ORDER
		    BY
		       STAFF_NO DESC
	</select>
	
	<!-- 
	
	VW_STAFF 사원 목록 조회를 위한 VIEW 작성
	
		SELECT 
		       S.STAFF_NO, 
		       STAFF_NAME, 
		       DECODE(substr(jumin_no, 8, 1), '1', '남',  '2', '여', '3', '남', '4', '여') as "JUMIN_NO",
		       DEPARTMENT_NAME,
		       GRADUATE_DAY
		  FROM 
		       STAFF S
		  JOIN 
		       CODE_DEPARTMENT D ON (S.DEPARTMENT_CODE = D.DEPARTMENT_CODE)
		  JOIN 
		       CODE_SCHOOL C ON (S.SCHOOL_CODE = C.SCHOOL_CODE)

	 -->
	
	<!-- 사원 검색 목록 개수 -->
	<select id="selectStaffCount" parameterType="searchCondition" resultType="_int">
		SELECT
		       *
		  FROM
		       VW_STAFF
		<if test="#{staff_name} != ''" >
		
		</if>
		
		
		
		
	
	</select>




</mapper>